.Rproj.user
.Rhistory
.RData
.Ruserdata
Gráficos diarios/diarioAnalizados.png
Gráficos diarios/diariocasosdesnyt.png
Gráficos diarios/diariocasosreporte.png
Gráficos diarios/diariocasos.png
Gráficos diarios/diariocasossemanarep.png
Gráficos diarios/diariodecesos.png
Gráficos diarios/diariodecesosrep.png
Gráficos diarios/Diarioestatus.png
Gráficos diarios/diarionyte.png
Gráficos diarios/diariomapinci.png
Gráficos diarios/diarionyte2.png
Gráficos diarios/diariopruebas.png
Gráficos diarios/diariosActivos.png
Gráficos diarios/diariosSospechosos.png
Gráficos diarios/diariosSospechososSINT.png
Gráficos diarios/diariosvarSospechosos.png
Gráficos diarios/espblack.png
Gráficos diarios/Hospitalizados 1.png
Gráficos diarios/Hospitalizados 2.png
Gráficos diarios/Hospitalizados3.png
Gráficos diarios/olasdiariocasosreporte.png
Gráficos diarios/tablacasosacumulados.png
Gráficos diarios/Olasdiariodecesosrep.png
Gráficos diarios/diarioAnalizados.png
Gráficos diarios/diariocasosdesnyt.png
Gráficos diarios/diariocasosreporte.png
Gráficos diarios/diariocasos.png
Gráficos diarios/diariocasossemanarep.png
Gráficos diarios/diariodecesos.png
Gráficos diarios/diariodecesosrep.png
Gráficos diarios/Diarioestatus.png
Gráficos diarios/diariomapinci.png
Gráficos diarios/diariopruebas.png
Gráficos diarios/diariosActivos.png
Gráficos diarios/diariosSospechosos.png
Gráficos diarios/diariosSospechososSINT.png
Gráficos diarios/diariosvarSospechosos.png
Gráficos diarios/Hospitalizados 1.png
Gráficos diarios/Hospitalizados 2.png
Gráficos diarios/Hospitalizados3.png
Gráficos diarios/olasdiariocasosreporte.png
Gráficos diarios/tablacasosacumulados.png
Gráficos diarios/Olasdiariodecesosrep.png
